* {
  color: white;
  font-family: sans-serif;
  background-color:black;

}

#aboutCayla {
  outline: 5px solid maroon;
  text-align: center;
  font-size: 70px;
}

h2 {
  color: grey;
  outline: 2px solid maroon;
}

p {
  font-family:serif;
}
